<div class="page">
	<div class="row">
		<div class="col-xs-8">
			<div class="profiler">
				<div class="row">
					<div class="col-xs-3 profile-avatar">
						<div><img src="http://i.pravatar.cc/600" alt=""></div>
					</div>
					<div class="col-xs-9 profile-user-descr">
						<h3>User Full Name</h3>
						<p>[User location]</p>
						<h4>User BIO</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, ea, nam. Eius ex quod officia saepe vero, ipsam quis, dolore tempore necessitatibus voluptatibus quae? Perferendis quae maiores veritatis dolor recusandae!</p>
						<h4>User Projects</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, ea, nam. Eius ex quod officia saepe vero, ipsam quis, dolore tempore necessitatibus voluptatibus quae? Perferendis quae maiores veritatis dolor recusandae!</p>
						<h4>User Achievements</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, ea, nam. Eius ex quod officia saepe vero, ipsam quis, dolore tempore necessitatibus voluptatibus quae? Perferendis quae maiores veritatis dolor recusandae!</p>
						<h4>User Interest & hobbies</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, ea, nam. Eius ex quod officia saepe vero, ipsam quis, dolore tempore necessitatibus voluptatibus quae? Perferendis quae maiores veritatis dolor recusandae!</p>
						<h4>User Skills</h4>
						<p>
							<ul>
								<li><span class="badge">C++</span></li>
								<li><span class="badge">Java</span></li>
								<li><span class="badge">Javascript</span></li>
								<li><span class="badge">HTML</span></li>
								<li><span class="badge">CSS</span></li>
								<li><span class="badge">Ruby On Rails</span></li>
								<li><span class="badge">Ruby</span></li>
								<li><span class="badge">Angular</span></li>
								<li><span class="badge">NodeJS</span></li>

							</ul>
						</p>
					</div>

				</div>
			</div>
		</div>

		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">Look what your connections are doing</div>
				<div class="panel-body">
					<ul>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio doloribus molestias non inventore libero adipisci iure! Obcaecati sapiente unde, quas, cumque quibusdam consequuntur nulla tenetur provident, ducimus natus debitis similique!</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio doloribus molestias non inventore libero adipisci iure! Obcaecati sapiente unde, quas, cumque quibusdam consequuntur nulla tenetur provident, ducimus natus debitis similique!</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio doloribus molestias non inventore libero adipisci iure! Obcaecati sapiente unde, quas, cumque quibusdam consequuntur nulla tenetur provident, ducimus natus debitis similique!</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Students recently placed from {University Name}</div>
				<div class="panel-body">
					<ul>
						<li>Username from MCA section got placed in {Company Name}</li>
						<li>Username from MCA section got placed in {Company Name}</li>
						<li>Username from MCA section got placed in {Company Name}</li>
						<li>Username from MCA section got placed in {Company Name}</li>
						<li>Username from MCA section got placed in {Company Name}</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>