<footer class="site-footer">
	<div class="row">
		<div class="col-xs-4">
			<h3>Some Links</h3>
			<ul>
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li>
				<li><a href="#">Link 4</a></li>
			</ul>
		</div>
		<div class="col-xs-4">
			<h3>Sitemap</h3>
			<ul>
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li>
				<li><a href="#">Link 4</a></li>
				<li><a href="#">Link 5</a></li>
				<li><a href="#">Link 6</a></li>
			</ul>
		</div>
		<div class="col-xs-4">
			<h3>Founders</h3>
			<ul>
				<li>Abc</li>
				<li>Def</li>
				<li>Ghi</li>
			</ul>
		</div>
	</div>
	<div><p>Made with <i class="fa fa-heart"></i> by Sam</p></div>
</footer>